<div class="jumbotron">
    <div class="container">
        <center>
           
                    <section class=" col-sm-12 section mt40">
            <div class="container">
                <div class="row col-p30">
                    <div class="col-sm-4 xs-box2">
                        <div class="box-services-c">
                            
                            <h3> Daily Recommendations</h3>
                            <span class="glyphicon glyphicon-cutlery"></span>
                            <p>Quick Recipes for the Day. All day, everyday.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 xs-box2">
                        <div class="box-services-c">
                            
                            <h3>Get Healthy</h3>
                            <span class="glyphicon glyphicon-scale"></span>
                            <p>Know What's In Your Food. Save Money and Feel Better.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 xs-box2">
                        <div class="box-services-c">
                            
                            <h3>Save Recipes For Later</h3>
                            <span class="glyphicon glyphicon-saved"></span>
                            <p>Save Recipes in Your Recipe Box and Get Weekly Reminders</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
             Search By Genre:
            <br>
            <ul class="genres">
                <li ng-repeat="genre in genres">
                    <span ng-click="getGenreRecipes(genre)">{{genre}}</span>
                </li>
            </ul>
        </section>
        </center>
    </div>
</div>
<!-- <div class="container">
    
<div class=".col-xs-6 .col-md-4">
    fdafdafdafdadfa
</div>
</div> -->
<div class="container-fluid">
    <div class="col-sm-3 sidebar">
         Allergies or Dietary Restrictions?
                <!-- setting the model here even though not delcared in controller. -->
                <select ng-model="genre" class="form-control" ng-change="getGenreRecipes(genre)">
                    <option ng-repeat="item in dietaryRestrictions track by $index">{{item}}</option>
                </select>
                <br>
                <br>
                What Other Users Are Adding:
        <stream-preview>
        </stream-preview>

        <br><br>
        <recipe-box-preview/>
    </div>
    <div class="row col-sm-8">
           <div class="col-sm-12">
            <div class="row">
                <center>Quick Recipes For The Day:</center>
                <div class="col-sm-2" ng-repeat="recipe in quickRecipes">
                    <img class="img-responsive img-rounded" ng-src="{{recipe.smallImageUrls[0]}}" />
                    <div class="text-center">
                        <!-- {# create a new route recipe, and recipe:id #} -->
                        <a href="/#!/recipe/{{recipe.id}}">{{recipe.recipeName}}</a>
                        <!-- {# <p class="text-muted">Episodes: {{show.episodes.length}}</p> #} -->
                        <br>
                        <a href="" ng-click="addRecipe(recipe)" style="font-family: Comic Sans MS">Save To Recipe Box</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="panel-heading col-sm-12">
            
                <div class="col-sm-2">
                    <br>
                    <br>
                    <input class="search" type="text" ng-model="query.name" ng-keyup="handleEnterKey($event)" placeholder="Search Here" style=" color:#dd3333;
                font-family:Helvetica Neue;
                font-weight:bold">
                </div>
      
            <div class=" col-sm-8">
               
            </div>
        </div>
     
        <div class="col-sm-12">
            <div class="row">
                <!-- {# put the recipes here #} -->
                <!-- this is from search: -->
                <div class="col-sm-2" ng-repeat="recipe in recipes">
                    <img class="img-responsive img-rounded" ng-src="{{recipe.smallImageUrls[0]}}" />
                    <div class="text-center">
                        <!-- {# create a new route recipe, and recipe:id #} -->
                        <a href="/#!/recipe/{{recipe.id}}">{{recipe.recipeName}}</a>
                        <!-- {# <p class="text-muted">Episodes: {{show.episodes.length}}</p> #} -->
                        <br>
                        <a href="" ng-click="addRecipe(recipe)">Add To Recipe Box</a>
                    </div>
                </div>
                
            </div>
        </div>

        <!-- text explaining the site: -->








    </div>
</div>