<!-- don't show this page if you aren't logged in -->
<div ng-show="currentUser == undefined">
                <center>
                    <a ng-href="/#!/login/" style="text-decoration: underline">
                        Login</a> to change your profile
                </center>
            </div>
<center ng-show="currentUser != undefined">
    <h3>Your Profile</h3>
    <br>


<h4>{{name}} </h4>
<br>
<pre>
    {{ currentUser || json }}
</pre>
<div ng-if="currentUser != undefined"> 
    <img ng-src="/getpicture/{{currentUser._id}}?{{$root.timestamp}}"> 
    <!-- <button ng-click="getCurrentUser(currentUser_id)" >lalala</button> -->
</div>
<div>
    <br>
    <br>
    
    <br> Change Your Profile Picture:
    <br>
    <br>

    <form>
        <input type="file" file-input="files" multiple />
        <br>
        <br>

        <button ng-click="upload('/upload')">Upload</button>
        <button ng-click="upload('/upload/save')">
            Save New Profile Picture
        </button>
        <li ng-repeat="file in files">{{file.name}}
        <img ng-src="{{imageData}}" alt="">

        
        </li>
    </form>
</div>
</center>
