<center>
    <h3>Your Profile</h3>
</center>
<h4 class="col-sm-2 sidebar">{{name}} </h4>
<br>
<pre>
    {{ currentUser || json }}
</pre>
<div class="col sm-2 col-sm-offset-2 sidebar"> 
    <img ng-src="{{getRightImage()}}"> 
</div>
<div>
    <br>
    <br>
    
    <br> Change Your Profile Picture:
    <br>
    <br>

    <form>
        <input type="file" file-input="files" multiple />
        <br>
        <br>

        <button ng-click="upload('/upload')">Upload</button>
        <button ng-click="upload('/upload/save')">
            Save New Profile Picture
        </button>
        <li ng-repeat="file in files">{{file.name}}
        <img ng-src="{{imageData}}" alt="">

        
        </li>
    </form>
</div>
<!-- TODO: Set the response to be the picture in the database and then render it! Set it to user.facebook.pictures -->
<!-- <img data-ng-src="data:image/png;base64,{{user.data}}" data-err-src="images/png/avatar.png"/ -->## user.picture