<div class="container" ng-controller="MainCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ recipe.name }}
        </div>
        <div class="panel-body">
          
            <img ng-src="{{ recipe.images[0].hostedLargeUrl }}" style="max-width: 400px; max-height: 400px" />
            <br>
            <br>
            <br>
            <div>
                <a href="{{recipe.source.sourceRecipeUrl}}"> Full Recipe </a>
            </div>
            <br>
            <p>Total Preparation Time: {{recipe.totalTime}}</p>
            <p>Number of Servings: {{recipe.numberOfServings}}</p>
            <p>Ingredients:</p>
            <p>
                <ul>
                    <li ng-repeat="ingredient in recipe.ingredientLines track by $index">{{ ingredient }}</li>
                </ul>
            </p>
            <div ng-if=' recipe.nutritionEstimates.length > 0 '>
                <h5>
              Nutrition Info:
              </h5>
                <ul>
                    <li ng-repeat="nutrition in recipe.nutritionEstimates track by $index | filter:{name: '!!'}">
                        <script>
                        if ()
                        </script>
                        <!-- TODO: filter out null values -->
                        {{ (nutrition.description) ? nutrition.description + ":" : ""}}  {{nutrition.value}} {{nutrition.unit.plural}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>