<div class="container" style="padding-top: 50px">
    <div class="panel panel-default row col-sm-12">
        <div class="panel-heading">Your Recipes
            <div ng-show="currentUser == undefined">
                <center>
                    <a href="/#!/login/" style="text-decoration: underline">
                        Login</a> to see your saved recipes!
                </center>
            </div>
            <div ng-show="currentUser != undefined" class="pull-right">
                <button type="submit" ng-click="deleteAllUserRecipes()">
                    Clear Recipe Box
                </button>
            </div>
        </div>
        <div class="panel-body row col-sm-12" >
            <center>
                <button class="btn btn-primary btn-lg" ng-click="setUsertoSubscribe()">Sign Up for Reminders</button>
                <br>
                <span>
                <br>
            No Spam. We'll Remind of Your Recipe Box Contents Every Few Days So You Can Actually Start Cooking.
            </span>
            </center>
            <br>
            <div class="row show-list col-sm-12">
                <div ng-if="currentUser != undefined" class="fade-repeat col-sm-3" ng-repeat="recipe in userRecipes track by $index">
                    <p>
                        <center>
                            <img class="img-responsive img-rounded" ng-src="{{recipe.image}}">
                            
                            <input ng-model="recipe.done" type="checkbox" ng-checked="recipe.done" ng-click="toggleDoneRecipe(recipe.done, recipe)" /> Recipe Complete
                            
                            <br>
                            
                            <div ng-class="{ 'completed' : recipe.done }">
                                <a class="link" style="text-decoration: underline; color: blue" href="{{recipe.recipeUrl}}">{{recipe.name}}</a>
                                <span>
                            <br>
                        Servings: {{recipe.numServings}}<br>
                       
                        <span class="glyphicon glyphicon-remove" ng-click="deleteRecipe(recipe)"></span>
                                </span>
                            </div>
                        </center>
                    </p>
                </div>
            </div>
            <sn-addthis-toolbox data-url="http://quickrecipesapp.herokuapp.com/#!/add" data-title="Recipe Box" data-description="foo bar">
            </sn-addthis-toolbox>
            
            <div class="addthis_sharing_toolbox"></div>
        </div>
    </div>
</div>