<head>
</head>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Activity Feed</div>
        <div class="panel-body">
            <div class="row show-list flex-container">
                <div class="fade-repeat flex-item" ng-repeat="recipe in recipeStreamLimited | orderBy: '-upvotes' ">
                    <p>
                        <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(recipe)">{{recipe.upvotes}}
                        <img class="img-rounded"ng-src="{{recipe.image}}">
                        </span>
                        <br>
                        <a class="link" style="text-decoration: underline; color: blue" href="{{recipe.recipeUrl}}" target="_blank">{{recipe.name}}</a>
                        <div>
                            Added by {{recipe.userName}}
                        </div>
                        {{recipe.numServings}}
                    </p>
                    <div id='dv1'>
                        <center>
                        </center>
                        <form class="form-group">
                            <form>
                                <textarea ng-model="txtcomment" placeholder="Comment "> </textarea>
                                <button ng-click='saveComment(recipe, txtcomment)'>Post Comment</button>
                                <ul>
                                    <li ng-repeat="comnt in recipe.comments"> {{ comnt.body }}
                                        <span ng-if="currentUser._id == comnt.author" class="glyphicon glyphicon-remove pull-right" ng-click="deleteComment(recipe._id, comnt._id) "></span>
                                    </li>
                                </ul>
                                <br>
                                <br>
                                <br>
                                <br>
                            </form>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>